@import '../../App.scss';

.contact {
    border-bottom: 1px solid #2d374822;

    .contact-section {
        width: 66%;
        margin: 0 auto;
        padding: 128px 0;

        .contact-header {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 80px;

            h2 {
                font-family: $bold;
                font-size: 48px;
                color: $blue;
                margin-bottom: 16px;
            }

            p {
                font-family: $regular;
                font-size: 24px;
                color: $dark;
                line-height: 36px;
            }
        }

        .contact-form {
            label {
                font-family: $bold;
                font-size: 20px;
                color: $dark;
                text-transform: uppercase;
            }

            input,
            #message {
                width: 100%;
                padding: 12px;
                margin: 8px 0 0 0;
                font-family: $regular;
                font-size: 20px;
                color: $dark;
                border: 1px solid $hoverBlue;
                border-radius: 5px;
                background-color: $inputBg;
                outline: none;
                transition: .3s ease;

                &:focus {
                    border: 1px solid $blue;
                }

                &::placeholder {
                    color: $plcColor;
                }
            }

            .name-input {
                display: flex;
                flex-direction: row;

                #nameIn {
                    width: 50%;
                    margin: 0 24px 24px 0;
                }

                #lastIn {
                    width: 50%;
                    margin: 0 0 24px 0;
                }

            }

            .email-input {
                margin-bottom: 40px;
            }

            .message-input {
                margin-bottom: 40px;

                #message {
                    width: 100%;
                    resize: vertical;
                }
            }

            .submit-button {
                display: flex;
                justify-content: center;

                button {
                    margin-top: 24px;
                    padding: 12px 48px;
                    font-family: $bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #ffffff;
                    background-color: $blue;
                    outline: none;
                    border: none;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .contact {

        .contact-section {
            padding: 96px 0;

            .contact-header {

                h2 {
                    font-size: 42px;
                }

                p {
                    font-size: 22px;
                    line-height: 32px;
                }
            }

            .contact-form {
                label {
                    font-size: 18px;
                }

                input,
                #message {
                    font-size: 18px;
                }

                .submit-button {
                    button {
                        padding: 12px 42px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .contact{
        .contact-section{
            width: 100%;
            padding: 60px 0;
            .contact-header{
                text-align: start;
                margin-bottom: 40px;
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                }
            }
            .contact-form{
                input,#message{
                    padding: 16px 12px;
                }
                .name-input{
                    flex-direction: column;
                    #nameIn{
                        width: 100%;
                    }
                    #lastIn{
                        width: 100%;
                    }
                }
            }
        }
    }
}