@import '../../App.scss';

.navbar{

    .nav-section{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 50px;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            
            li{
                margin-left: 30px;

                a{
                    text-decoration: none;
                    color: $dark;
                    font-family: $bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    transition: .3s ease;
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }
}

@media(max-width:1024px){
    .navbar{

        .nav-section{
            padding-top: 40px;
        }
    }
}

@media(max-width:768px){
    .navbar{

        .nav-section{
            padding-top: 30px;
            justify-content: center;
            ul{
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}