@import '../../App.scss';

.footer {
    padding: 80px 16px;

    .footer-section {
        text-align: center;

        h3 {
            font-family: $bold;
            font-size: 22px;
            color: $dark;
            text-transform: uppercase;
        }

        .connect-links {
            padding: 20px 0;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;

            .links-container {
                width: 20%;

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            text-decoration: none;
                            color: $blue;
                            font-size: 48px;
                            transition: .3s ease;

                            &:hover {
                                color: $dark;
                            }
                        }
                    }
                }

            }

        }

        p {
            font-family: $regular;
            font-size: 18px;
            color: $dark;
            line-height: 24px;
        }

        .toTopBtn {
            margin-top: 32px;
            display: flex;
            justify-content: center;

            button {
                text-decoration: none;
                font-family: $regular;
                font-size: 20px;
                color: $blue;
                padding: 12px 20px;
                border: 2px solid $blue;
                border-radius: 30px;
                margin-right: 15px;
                transition: .3s ease;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: $hoverBlue;
                    border: 2px solid $hoverBlue;
                }

            }
        }
    }
}

@media(max-width:1024px) {
    .footer {
        .footer-section {
            h3 {
                font-size: 20px;
            }

            .connect-links {
                padding: 16px 0;

                .links-container {
                    ul {
                        li {
                            a {
                                font-size: 42px;
                            }
                        }
                    }
                }
            }

            p {
                font-size: 16px;
            }

            .toTopBtn {
                button {
                    font-size: 18px;
                    padding: 12px 18px;
                }
            }
        }
    }
}
@media(max-width:768px){
    .footer{
        .footer-section{
            .connect-links{
                .links-container{
                    ul{
                        li{
                            a{
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}