@import '../../App.scss';

.work {
    padding: 130px 65px 0;
    border-top: 1px solid #2d374822;
    border-bottom: 1px solid #2d374822;

    .work-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .work-container {
            width: 50%;
            margin: 0 0 96px;
            padding: 0 24px;


            .work-picture {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 6px;
                overflow: hidden;
                margin-bottom: 30px;
                transition: .5s ease;

                &:hover {
                    transform: scale(1.05);
                }


                .picture_link {
                    img {
                        width: 100%;
                        aspect-ratio: 16/9;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .work-h4 {
                margin-bottom: 25px;

                a {
                    text-decoration: none;
                    color: $blue;
                    font-family: $bold;
                    font-size: 28px;
                    transition: .3s ease;

                    &:hover {
                        color: $dark;
                    }

                    i {
                        margin-left: 10px;
                    }
                }

                span {
                    position: relative;
                    margin: 0 10px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: #718096;
                    }
                }
            }

            .work-text {
                font-family: $regular;
                font-size: 20px;
                color: $dark;
                margin-bottom: 30px;
            }

            .work-languages {
                display: flex;
                flex-wrap: wrap;

                span {
                    font-family: $regular;
                    font-size: 18px;
                    color: #4A5568;
                    margin-right: 10px;
                    padding: 4px 8px;
                    background-color: #EDF2F7;
                    border-radius: 5px;
                    margin-bottom: 8px;
                }
            }
        }

    }
}

@media(max-width:1023.98px) {
    .work {
        padding: 96px 30px 0;

        .work-section {

            .work-container {
                margin: 0 0 48px;
                padding: 0 16px;

                .work-h4 {
                    margin-bottom: 20px;

                    a {
                        font-size: 26px;
                    }

                }

                .work-text {
                    font-size: 18px;
                }

                .work-languages {
                    span {
                        font-size: 16px;
                        padding: 4px 6px;
                    }
                }
            }
        }
    }
}

@media(max-width:767.98px) {
    .work {
        padding: 72px 20px;

        .work-section {

            // flex-direction: column;
            .work-container {
                width: 100%;
            }
        }
    }
}

@media(max-width:575.98px) {
    .work {
        padding: 36px 0;

        .work-section {

            .work-container {

                .work-h4 {
                    margin-bottom: 10px;

                    a {
                        font-size: 22px;
                    }
                }

                .work-text {
                    font-size: 15px;
                }

                .work-languages {
                    span {
                        font-size: 14px;
                        padding: 3px 4px;
                    }
                }
            }
        }
    }
}